%div#stock_item
  = fields_for 'portfolio[stocks]', stock, :index => nil do |f|
    .clearfix
      = f.label :name
      .input
        = f.text_field :name, :class => 'xlarge'
  
    .clearfix
      = f.label :symbol
      .input
        = f.text_field :symbol, :class => 'xlarge'
