%h1= "Edit portfolio '#{@port.name}'"

= form_for @port, :url => portfolio_path(@port.name) do |form|
  %fieldset
    .clearfix
      = form.label :name
      .input
        = form.text_field :name, :class => 'xlarge'
    
    .clearfix
      = form.label :email
      .input
        = form.text_field :email, :class => 'xlarge'
   
    %div#stocks.clearfix
      %legend Add stock symbols
      %br
      = render :partial => 'stock', :collection => @port.stocks

    .actions
      = add_extra_stock_link 'Add another stock symbol', :class => 'btn info small'
    
    .actions
      = form.submit "Save portfolio", :class => 'btn large primary'
