%h1= "Portfolio '#{@port.name}'"

%h3 Portfolio information
= @port.name
%br
= @port.email

%br
%br

%h3 Stocks included in the portfolio
%ul
  - @port.stocks.each do |stock|
    %li
      = stock.name
      = stock.symbol

= link_to "Edit portfolio", edit_portfolio_path(@port.name), :class => 'btn info small'
%a{:href => "#{portfolio_url(@port.name)}.json", :class => 'btn small'} See json output
