%h1 Create your portfolio

= form_for :portfolio, :url => portfolios_path, :html => {:method => :post} do |form|
  %fieldset
    .clearfix
      = form.label :name
      .input
        = form.text_field :name, :class => 'xlarge'
    
    .clearfix
      = form.label :email
      .input
        = form.text_field :email, :class => 'xlarge'
    
    .actions
      = form.submit "Create portfolio", :class => 'btn large primary'

%h2 Looking to edit an existing portfolio?

%p 
  Give us your e-mail address and we'll drop everything you need to know in your mailbox.

= form_tag reminder_create_path, :method => :post do
  %fieldset
    .clearfix
      = label_tag :email, 'E-mail'
      .input
        = text_field_tag 'email', '', :class => 'xnormal'

    .actions
      = submit_tag 'Send it over please!', :class => 'btn info'

