!!!
%html
  %head
    %title= title
    = stylesheet_link_tag    "style"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
  
  .container
    %header
      Stocks in a box
      %br
      %span 
        powered by 
        %a{:href => 'http://github.com/pierot/stockery'}= "Stockery"

    - flash.each do |key, value|
      %div{:class => "alert-message block-message #{key}", 'data-alert' => 'alert'}
        %a{:href => '#', :class => 'close'} x
        = value

    = yield
